body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h2 {
    margin-bottom: 20px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Estilos de la página de detalles del producto */
.producto-detalle img {
    max-width: 300px;
    margin-bottom: 20px;
}

/* Ajuste para las tarjetas de producto */
.producto {
    max-width: 100%;
    height: auto;
}
