## ===== Output =====
@$annotation.getName()##
#if ( $annotation.propertyCount() == 0 )
	${space}##
#elseif ( $annotation.propertyCount() == 1 )
	#set( $property = $annotation.propertyAt(0) )
	($property.t_getNameValue())${space}##
#elseif ( $annotation.propertyCount() > 1 )
	(##
	#set( $propertyIndex = 0 )
	#foreach($property in $annotation.propertyIterator())
		#if ( $propertyIndex > 0 )
			,${space}##
		#end
		$property.t_getNameValue()##
		#set( $propertyIndex = $propertyIndex + 1 )
	#end
	)${space}##
#end