$operation.getReference().prepare()##
## ===== Output =====
#if( $associationImplementation == "1" )
	#set( $tmpList = 'java.util.List' )
	#set( $tmpAsList = 'java.util.Arrays.asList(' )
	#set( $tmpRemove = '.remove(' )
	#set( $tmpSize = '.size(' )
	#set( $tmpToArray = '.toArray(' )
	${baseIndentation}${indentation}${indentation}${tmpList} $operation.getReference().getRefObject().t_getLocalName()_Temp = ${tmpAsList}this.$operation.getReference().getAttributeName());
	${baseIndentation}${indentation}${indentation}$operation.getReference().getRefObject().t_getLocalName()_Temp${tmpRemove}$operation.getReference().getParameterName());
	${baseIndentation}${indentation}${indentation}this.$operation.getReference().getAttributeName() = new $operation.getReference().getRefObject().t_getElementName()[$operation.getReference().getRefObject().t_getLocalName()_Temp${tmpSize})];
	${baseIndentation}${indentation}${indentation}$operation.getReference().getRefObject().t_getLocalName()_Temp${tmpToArray}this.$operation.getReference().getAttributeName());
#else
	#set( $tmpRemove = '.remove(' )
	${baseIndentation}${indentation}${indentation}this.$operation.getReference().getAttributeName()${tmpRemove}$operation.getReference().getParameterName());
#end