$operation.t_prepare()##
## ===== Output =====

$operation.t_getDocumentation('')##
$operation.t_getScope()($operation.t_getReturnTypeName()$operation.t_getReturnTypeModifier()) $operation.getName()##
#foreach($parameter in $operation.parameterIterator())
	#parse("$template-dir/header/ObjectiveCParameter.vm")
#end
;