$attribute.t_prepare()##
## ===== Output =====
$attribute.t_getDocumentation($indentation)##
${indentation}$attribute.t_getVisibility()$attribute.t_getTypeName()$attribute.t_getTypeModifier() $attribute.t_getAttributeName();$attribute.t_getInitialValue()