$package.t_prepare()##
## ===== Output =====
<?xml version="1.0" encoding="$utilities.getEncoding($args)" ?>
<xs:schema 
${indentation}targetNamespace="$package.t_getNamespace()" 
${indentation}xmlns="$package.t_getNamespace()" 
${indentation}xmlns:$package.t_getNamespacePrefix()="$package.t_getNamespace()" 
${indentation}xmlns:xs="http://www.w3.org/2001/XMLSchema"$package.t_getNamespaceImport($indentation)>##
$package.t_getImport($indentation)##
$indenter.push($indentation)##
$package.t_getDocumentation($indenter.getIndentation())
#foreach( $class in $package.classIterator() )
	#if( $class.hasStereotype("XSDschema") && !$class.hasStereotype("primitive") && $package.isExport($class) && !$class.isComposite() )
		#if( $class.xsdAttributeCount() > 0 )
			#foreach( $attribute in $class.xsdAttributeIterator() )
				#parse("$template-dir/XsdAttribute.vm")
		
			#end
		#end
	#end
#end
#foreach( $class in $package.classIterator() )
	#if( !$class.hasStereotype("XSDschema") && !$class.hasStereotype("primitive") && $package.isExport($class) && !$class.isComposite() )
		#parse("$template-dir/XsdClassSelection.vm")
	#end
#end
</xs:schema>