{% extends "base.html" %}

{% block content %}
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container my-4">  
    <div class="row" id="productList">
        {% if productos.length > 0 %}
            {% for producto in productos %}
                <div class="col-md-2 col-sm-6 mb-4">
                    <div class="card producto" data-category="{{ producto.category }}">
                        <img src="{{ producto.image }}" class="card-img-top" alt="{{ producto.title }}">
                        <div class="card-body text-center">
                            <a href="/producto/{{ producto._id }}">
                                <h5 class="card-title">{{ producto.title }}</h5>
                            </a>
                            <p class="card-text">Precio: ${{ producto.price }}</p>
                            <p class="card-text">
                                <span class="stars" data-_id="{{ producto._id }}">Cargando estrellas...</span>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No hay productos disponibles.</p>
        {% endif %}
    </div>
</div>
{% endblock %}