$parameter.t_prepare()#*
*### ===== Output =====
$parameter.t_getDeclarativeAttribute()##
$parameter.t_getConst()##
$parameter.t_getTypeName()$parameter.t_getGeneric()$parameter.t_getTypePreModifier()##
$parameter.t_getParameterName()$parameter.t_getTypePostModifier()$parameter.t_getDefaultValue()