#set($indent="")
#if($class.getNamespace()!="")
Namespace $class.getNamespace()
#set($indent="	")
#end
#if ($class.getDocumentation() && $class.getDocumentation()!="")
''' <summary>
''' $class.getDocumentation()
''' </summary>
#end
${indent}#if ($class.getVisibilityDisplay()!="")$class.getVisibilityDisplay() #end
Enum [$class.getName()]
#foreach ($field in $class.enumFieldIterator())
$indent	$field.getName()#if($field.getInitialValue() && $field.getInitialValue()!="") = $field.getInitialValue()#end

#end
${indent}End Enum
#if($class.getNamespace()!="")
End Namespace
#end