#if ($innerClass.getDocumentation() && $innerClass.getDocumentation()!="")
$indent	''' <summary>
#foreach ($line in $innerClass.getDocumentationLine())
	$indent ''' $line
#end
$indent	''' </summary>
#end
#set($oldIndent=$indent)
#set($indent="${indent}	")
${indent}$innerClass.getClassDefinition()
#if ($innerClass.getSuperClass())
${indent}	Inherits $innerClass.getSuperClassDisplay()
#end
#if ($innerClass.superInterfaceCount()>0)
${indent}	Implements $innerClass.getSuperInterfaceDisplay()
#end
#if ($innerClass.inheritedFromAssociationCount()>0)
#foreach ($association in $innerClass.inheritedFromAssociationIterator())
#parse("$template-path/from-association.vm")
#end

#end
#if ($innerClass.inheritedToAssociationCount()>0)
#foreach ($association in $innerClass.inheritedFromAssociationIterator())
#parse("$template-path/to-association.vm")
#end

#end
#if ($innerClass.fromAssociationCount()>0)
#foreach ($association in $innerClass.fromAssociationIterator())
#parse("$template-path/from-association.vm")
#end

#end
#if ($innerClass.toAssociationCount()>0)
#foreach ($association in $innerClass.toAssociationIterator())
#parse("$template-path/to-association.vm")
#end

#end
#if ($innerClass.attributeCount()>0)
#foreach ($attribute in $innerClass.attributeIterator())
#parse("$template-path/attribute.vm")
#end

#end
#if ($innerClass.inheritedAttributeCount()>0)
#foreach ($attribute in $innerClass.inheritedAttributeIterator())
#parse("$template-path/attribute.vm")
#end

#end
#if ($innerClass.operationCount()>0)
#foreach ($operation in $innerClass.operationIterator())
#parse("$template-path/operation.vm")
#end

#end
#if ($innerClass.inheritedOperationCount()>0)
#foreach ($operation in $innerClass.inheritedOperationIterator())
#parse("$template-path/operation.vm")
#end

#end
${indent}End Class
#set($indent=$oldIndent)