#if ($attribute.getDocumentation() && $attribute.getDocumentation()!="")
$indent	''' <summary>
#foreach ($line in $attribute.getDocumentationLine())
	$indent ''' $line
#end
$indent	''' </summary>
#end
#if($attribute.isProperty())$indent	$attribute.getPropertyContent()
#end
