#if ($association.isFromNavigable())
#if ($association.associationClassCount()==0)
$indent	#if($association.getFromVisibility()!="")$association.getFromVisibility() #end$association.getFromDisplayName() As $association.getFromDisplayType()
#else
#foreach ($associationClass in $association.associationClassIterator())
$indent	#if($association.getFromVisibility()!="")$association.getFromVisibility() #end$associationClass.getFromDisplayName() As $associationClass.getFromDisplayType()
#end
#end
#end