#set($indent="")
#set($current=$class)
-- The Declaration of class $class.getClassName()
#if($class.importCount()>0)
	#foreach($import in $class.importIterator())
		#parse("$template-path/import.vm")
	#end

#end
#parse("$template-path/comments.vm")
package $class.getPackageName() is
#set($indent="$indent	")
#if($class.accessingTypeCount()>0)
	#foreach($type in $class.accessingTypeIterator())
		#parse("$template-path/type.vm")
	#end

#end
#set($oldCurrent=$current)
#set($current=$class.getInternalType())
#parse("$template-path/comments.vm")
${indent}type $current.getName() is (##
	#set($first=true)
	#foreach ($attribute in $class.attributeIterator())
		#if($first)
			#set($first=false)
		#else
			$space, ##
		#end
		$attribute.getName()##
	#end
	#foreach ($field in $class.enumerationLiteralIterator())
		#if($first)
			#set($first=false)
		#else
			$space, ##
		#end
		$field.getName()##
	#end
);
#if($class.isCustomEnumValues())
	#set($first=true)
	${indent}for $current.getName() use (##
	#foreach ($attribute in $class.attributeIterator())
		#if($first)
			#set($first=false)
		#else
			, ##
		#end
		$attribute.getName() => $attribute.getEnumValue()##
	#end
	#foreach ($field in $class.enumerationLiteralIterator())
		#if($first)
			#set($first=false)
		#else
			$space, ##
		#end
		$field.getName() => $field.getEnumValue()##
	#end
	);
#end
#set($current=$oldCurrent)
end $class.getPackageName();