#set($indent="")
-- The implementation body of class $class.getClassName()
#if($class.importCount()>0)
	#foreach($import in $class.importIterator())
		#parse("$template-path/import.vm")
	#end

#end
#set($current=$class)
#parse("$template-path/comments.vm")
package body $class.getPackageName() is
#set($indent="$indent	")
#foreach($operation in $class.operationIterator())
	#parse("$template-path/operation.vm")
#end
end $class.getPackageName();