#set($oldCurrent=$current)
#set($current=$operation)
#parse("$template-path/comments.vm")
$indent##
#if($operation.isFunction())
	function $operation.getMethodName()##
	#parse("$template-path/parameters.vm")
	${space}return $operation.getReturn()##
#else
	procedure $operation.getMethodName()##
	#parse("$template-path/parameters.vm")
#end
#if($operation.isAbstract())
	${space}is abstract##
#end
;
#set($current=$oldCurrent)