#if(!$operation.isAbstract())
	#set($oldCurrent=$current)
	#set($current=$operation)
	#parse("$template-path/comments.vm")
	$indent##
	#if($operation.isFunction())
		function $operation.getMethodName()##
		#parse("$template-path/parameters.vm")
		${space}return $operation.getReturn()##
	#else
		procedure $operation.getMethodName()##
		#parse("$template-path/parameters.vm")
	#end
	${space}is
	${indent}begin
	#if($operation.hasReference() == true)
		#parse("$template-path/$operation.getReference().getRefTemplate()")
	#elseif($operation.getImplementations())
		#foreach($line in $operation.getImplementations())
			${indent}${tab}${line}
		#end
	#else
		#if($operation.isFunction())
			${indent}${tab}return null;
		#else		
			${indent}${tab}null;
		#end
	#end
	${indent}end $operation.getMethodName();
	#set($current=$oldCurrent)
#end