#set($orginal=$current)
#set($current=$attribute)
#if (!$attribute.isAbstract())
	###################### Comment Start ######################
	#parse("$template-path/comment.vm")
	###################### Comment End ######################
	#if(!$attribute.getProperty())
		#if($current.getDeclarativeAttribute() && $current.getDeclarativeAttribute()!="")
			$indent#parse("$template-path/declarationType.vm")
			
		#end
	#end
	$indent#parse("$template-path/visibility.vm")
	#parse("$template-path/member.vm")
	#if(!$attribute.isConst())
		Dim ##
	#end
	$formatter.quoteIdentifier($attribute.getVariableName()) As ##
	#if($attribute.isNew())
		New ##
	#end
	$attribute.getVariableType()##
	#if($attribute.getTemplateTypeBindInfo())
		#set($bindInfo=$attribute.getTemplateTypeBindInfo())
		#parse("$template-path/bindInfo.vm")
	#end	
	#if($attribute.getVariableInitialValue() && $attribute.getVariableInitialValue()!="")
		$space= $attribute.getVariableInitialValue()##
	#end

#end
###################### Property Start ######################
#if ($attribute.getProperty())
	#if (!$class.isInterface() || !$attribute.isAbstract() || !$attribute.getInheritedFrom())
		#set($property = $attribute.getProperty())
		#parse("$template-path/property.vm")
	#end
#end
###################### Property End ######################
#set($current=$orginal)