#if($bindInfo && $bindInfo.detailsCount()>0)
	#set($first-bind=$bindInfo.detailsAt(0))
	(Of ##
	#foreach ($info in $bindInfo.detailsIterator())
		#if($first-bind!=$info)
			, ##
		#end
		#parse("$template-path/bindType.vm")
	#end
	)##
#end