#set($orginal=$current)
#set($current=$class)
###################### Comment Start ######################
#parse("$template-path/comment.vm")
###################### Comment End ######################
#if($current.getDeclarativeAttribute() && $current.getDeclarativeAttribute()!="")
	#parse("$template-path/declarationType.vm")
	
#end
#parse("$template-path/visibility.vm")
#parse("$template-path/member.vm")
#if($class.isInterface())
	#if($class.getVisibility()=="Public")
		Public ##
	#end
	Interface##
#elseif($class.isStruct())
	Structure##
#else
	Class##
#end
$space$formatter.quoteIdentifier($class.getClassName())##
#parse("$template-path/typeParameters.vm")
#parse("$template-path/inheritance.vm")

#set($indent=$formatter.increaseIndent($indent))
###################### Attribute Start ######################
#if ($class.attributeCount()>0)
	#foreach ($attribute in $class.attributeIterator())
		#parse("$template-path/attribute.vm")
	#end

#end
###################### Attribute End ######################
###################### Operation Start ######################
#if ($class.operationCount()>0)
	#foreach ($operation in $class.operationIterator())
		#parse("$template-path/operation.vm")
	#end

#end
###################### Operation End ######################
###################### From Association Start ######################
#if ($class.fromAssociationCount()>0)
	#foreach ($association in $class.fromAssociationIterator())
		#set($associationEnd=$association.getTo())
		#parse("$template-path/association.vm")
	#end

#end
###################### From Association End ######################
###################### To Association Start ######################
#if ($class.toAssociationCount()>0)
	#foreach ($association in $class.toAssociationIterator())
		#set($associationEnd=$association.getFrom())
		#parse("$template-path/association.vm")
	#end

#end
###################### To Association End ######################
###################### Inner Member Start ######################
#foreach($innerMember in $class.innerMemberIterator())
	#set($original-class=$class)
	#set($class=$innerMember)
	#parse("$template-path/generic.vm")
	#set($class=$original-class)
#end
###################### Inner Member End ######################
#set($indent=$formatter.decreaseIndent($indent))
${indent}End##
#if($class.isInterface())
	${space}Interface##
#elseif($class.isStruct())
	${space}Structure##
#else
	${space}Class##
#end

#set($current=$orginal)