#if ($current.getDocumentation() && $current.getDocumentation()!="")
	$indent''' <summary>
	#foreach ($line in $formatter.getDocumentationLineIterator($current.getDocumentation()))
		$indent''' $line
	#end
	$indent''' </summary>
#end
#if ($current.hasExtraDocumentation())
	#foreach ($line in $formatter.getDocumentationLineIterator($current.getExtraDocumentation()))
		$indent''' $line
	#end
#end