#if(!$class.isInterface())
	#if($current.isNotInheritable())
		NotInheritable ##
	#end
	#if($current.isShadow())
		Shadow ##
	#end
	#if($current.isMustInherit())
		MustInherit ##
	#elseif($current.isAbstract())
		MustOverride ##
	#end
	#if($current.isConst())
		Const ##
	#end
	#if($current.isReadonly())
		Readonly ##
	#end
	#if($current.isWithEvent())
		WithEvent ##
	#end
	#if($current.isShared())
		Shared ##
	#end
	#if($current.isOverridable() && !$current.isAttribute())
		Overridable ##
	#end
	#if($current.isOverride() && !$current.isAttribute())
		Overrides ##
	#end
	#if($current.isNotOverridable())
		NotOverridable ##
	#end
	#if($current.isOverload())
		Overload ##
	#end
	#if($current.isDeclare())
		Declare ##
	#end
	#if($current.isParamArray())
		ParamArray ##
	#end
	#if($current.isOptional())
		Optional ##
	#end
	#if($current.isNarrowing())
		Narrowing ##
	#end
	#if($current.isWidening())
		Widening ##
	#end
#end