#set($orginal=$current)
#set($current=$parameter)
#if($current.getDeclarativeAttribute() && $current.getDeclarativeAttribute()!="")
	#parse("$template-path/declarationType.vm")
#end
#parse("$template-path/member.vm")
$formatter.quoteIdentifier($parameter.getVariableName()) As $parameter.getVariableType()##
#if($parameter.getTemplateTypeBindInfo())
	#set($bindInfo=$parameter.getTemplateTypeBindInfo())
	#parse("$template-path/bindInfo.vm")
#end
#if($parameter.getParameterDefaultValue() && $parameter.getParameterDefaultValue()!="")
	$space= $parameter.getParameterDefaultValue()##
#end
#set($current=$orginal)