## ===== Output =====
$package.t_getDocumentation()##
Unit $package.t_getFullPackage();
#if( $package.classCount() > 0 )
	${indentation}Interface
	$package.t_getImport("${indentation}${indentation}", "Uses", "${indentation}${indentation}${indentation}", "SysUtils")##
	${indentation}${indentation}Type
	#foreach( $class in $package.classIterator() )
		${indentation}${indentation}${indentation}$class.getName() = $class.t_getInterface();
	#end

	#set( $clsMode = "INTERFACE" )
	#foreach( $class in $package.classIterator() )
		#set( $indentationLevel = 3 )
		#parse("$template-dir/DelphiClass.vm")

	#end
	${indentation}Implementation
	#set( $clsMode = "IMPLEMENTATION" )
	#foreach( $class in $package.classIterator() )
		#set( $indentationLevel = 3 )
		#parse("$template-dir/DelphiClass.vm")

	#end
#end
End.