#set($orginal=$current)
#set($current=$attribute)
#if (!$attribute.isAbstract() && (!$attribute.getProperty() || !$options.isAutoImplementedProperties()))
	###################### Comment Start ######################
	#parse("$template-path/comment.vm")
	###################### Comment End ######################
	#if($current.getDeclarativeAttribute() && $current.getDeclarativeAttribute()!="")
		${indent}#parse("$template-path/declarationType.vm")
		
	#end
	${indent}#parse("$template-path/visibility.vm")
	#parse("$template-path/member.vm")
	$attribute.getVariableType()##
	#if($attribute.getTemplateTypeBindInfo())
		#set($bindInfo=$attribute.getTemplateTypeBindInfo())
		#parse("$template-path/bindInfo.vm")
	#end
	${space}$attribute.getVariableName()##
	#if($attribute.getVariableInitialValue() && $attribute.getVariableInitialValue()!="")
		$space= $attribute.getVariableInitialValue()##
	#end
	;
#end
###################### Property Start ######################
#if ($attribute.getProperty())
	#if (!$class.isInterface() || !$attribute.isAbstract() || !$attribute.getInheritedFrom())
		#set($property = $attribute.getProperty())
		#if ($options.isAutoImplementedProperties())
			#parse("$template-path/auto-implemented-property.vm")
		#else
			#parse("$template-path/property.vm")
		#end
	#end
#end
###################### Property End ######################
#set($current=$orginal)