#set($orginal=$current)
#set($current=$property)
#if ($attribute.isAbstract())
	###################### Comment Start ######################
	#parse("$template-path/comment.vm")
	###################### Comment End ######################
	#if($current.getDeclarativeAttribute() && $current.getDeclarativeAttribute()!="")
		${indent}#parse("$template-path/declarationType.vm")
		
	#end
#end
${indent}#parse("$template-path/visibility.vm")
#parse("$template-path/member.vm")
$property.getVariableType()##
#if($attribute.getTemplateTypeBindInfo())
	#set($bindInfo=$attribute.getTemplateTypeBindInfo())
	#parse("$template-path/bindInfo.vm")
#end
${space}$property.getVariableName() { ##
###################### Getter Start ######################
#if ($property.getOwner().hasGetter())
	get; ##
#end
###################### Getter End ######################
###################### Setter Start ######################
#if ($property.getOwner().hasSetter())
	set; ##
#end
###################### Setter End ######################
}
#set($current=$orginal)