#if(!$class.isInterface())
	#if($current.isAbstract())
		abstract ##
	#elseif($current.isSealed())
		sealed ##
	#elseif(($current.isStatic() || $current.isDotNetStatic()) && !$current.isConstructor())
		static ##
	#end
	#if($current.isOverride() && !$current.isAttribute())
		override ##
	#end
	#if($current.isNew())
		new ##
	#end
	#if($current.isConst())
		const ##
	#end
	#if($current.isReadonly())
		readonly ##
	#end
	#if($current.isVolatile())
		volatile ##
	#end
	#if($current.isVirtual() && !$current.isAttribute())
		virtual ##
	#end
	#if($current.isDelegate())
		delegate ##
	#end
	#if($current.isUnsafe())
		unsafe ##
	#end
	#if($current.isExtern())
		extern ##
	#end
	#if($current.isImplicit())
		implicit ##
	#end
	#if($current.isExplicit())
		explicit ##
	#end
#end