#set($orginal=$current)
#set($current=$parameter)
#if($current.getDeclarativeAttribute() && $current.getDeclarativeAttribute()!="")
	#parse("$template-path/declarationType.vm")	
#end
#parse("$template-path/member.vm")
#if($parameter.isOut() && $parameter.isIn())##
	ref${space}##
#elseif ($parameter.isOut())##
	out${space}##
#end
$parameter.getVariableType()##
#if($parameter.getTemplateTypeBindInfo())
	#set($bindInfo=$parameter.getTemplateTypeBindInfo())
	#parse("$template-path/bindInfo.vm")
#end
${space}$parameter.getVariableName()##
#if($parameter.getDefaultValue() && $parameter.getDefaultValue().getName() && $options.isDotNet4DefaultValue())
	${space}=${space}$parameter.getDefaultValue().getName()##
#end
#set($current=$orginal)