#foreach($typeParameter in $current.templateParameterIterator())
	#if ($typeParameter.haveType())
		#set($first=true)

		${indent}${tab}where $typeParameter.getName() : ##
		#foreach($type in $typeParameter.getParameterTypes())
			#if($first)
				#set($first=false)
			#else
				, ##
			#end
			$typeParameter.getReferenceName($type.getType())$type.getTypeModifier()##
			#if($type.getBindInfo())
				#set($bindInfo=$type.getBindInfo())
				#parse("$template-path/bindInfo.vm")
			#end
		#end
	#end
#end