#if($current.templateParameterCount()>0)
	#set($first=true)
	<##
	#foreach($typeParameter in $current.templateParameterIterator())
		#if($first)
			#set($first=false)
		#else
			, ##
		#end
		$typeParameter.getName()##
	#end
	>##
#end