#set($classDefinition=$class.getClassDefinition())
interface $class.getName()##
#if($classDefinition!="")
	$space: $classDefinition##
#end
$space: persistent {
#if($class.attributeIterator().hasNext())
	#foreach ($attribute in $class.attributeIterator())
		#parse("$template-path/attribute.vm")
				
	#end

#end
#if($class.fromAssociationIterator().hasNext())
	#foreach ($association in $class.fromAssociationIterator())
		#parse("$template-path/from-association.vm")
		
	#end

#end
#if($class.toAssociationIterator().hasNext())
	#foreach ($association in $class.toAssociationIterator())
		#parse("$template-path/to-association.vm")
		
	#end

#end
}