$operation.getReference().prepare()##
## ===== Output =====
${baseIndentation}${indentation}${indentation}@_$operation.getReference().getAttributeName() = $operation.getReference().getParameterName()

