## ===== Output =====
#foreach($attribute in $class.attributeIterator())
	#if( $attribute.t_getAttributeNamePrefix().length() == 1 )
		#parse("$template-dir/RubyInitializeAttribute.vm")

	#end
#end
