$operation.getReference().prepare()##
## ===== Output =====
${baseIndentation}${indentation}${indentation}$operation.getReference().getRefObject().t_getAttributeNamePrefix()$operation.getReference().getAttributeName() = $operation.getReference().getParameterName()

