$attribute.t_prepare()##
## ===== Output =====
$attribute.t_getDocumentation("${baseIndentation}${indentation}")##
${baseIndentation}${indentation}$attribute.t_getVisibility("${baseIndentation}${indentation}")##
$attribute.t_getAttributeNamePrefix()$attribute.t_getAttributeName()$attribute.t_getInitialValue()