#if ($association.isToNavigable())
#if ($association.associationClassCount()==0)
$indent	#if($association.getToVisibility()!="")$association.getToVisibility() #end$association.getToDisplayType() $association.getToDisplayName();
#else
#foreach ($associationClass in $association.associationClassIterator())
$indent	#if($association.getToVisibility()!="")$association.getToVisibility() #end$associationClass.getToDisplayType() $associationClass.getToDisplayName();
#end
#end
#end