#set ($indent = "")
using System;

#if ($class.getNamespace()!="")
#set ($indent = "	")
namespace $class.getNamespace()
{
#end
#if ($class.getDocumentation() && $class.getDocumentation()!="")
/// <summary>
#foreach ($line in $class.getDocumentationLine())
/// $line
#end
/// </summary>
#end
	
$indent$class.getClassDefinition()
$indent{
#if ($class.attributeCount()>0)
#foreach ($attribute in $class.attributeIterator())
#parse("$template-path/interface-attribute.vm")
#end

#end
#if ($class.operationCount()>0)
#foreach ($operation in $class.operationIterator())
#parse("$template-path/interface-operation.vm")
#end

#end
$indent}
#if ($class.getNamespace()!="")
}
#end