#if ($operation.getDocumentation() && $operation.getDocumentation()!="")
$indent	/// <summary>
#foreach ($line in $operation.getDocumentationLine())
	$indent /// $line
#end
$indent	/// </summary>
#end
$indent	$operation.getDisplayReturnType() $operation.getName()(#foreach($parameter in $operation.parameterIterator())#parse("$template-path/parameter.vm")#end);
