$class.t_prepare()##
## ===== Global =====
#set( $baseIndentation = "" )
## ===== Output =====
#foreach( $package in $class.t_packageIterator() )
	#set( $baseIndentation = "$indentation" )
	module $package {
#end
$class.t_getDocumentation($baseIndentation)##
${baseIndentation}$class.t_getAbstract()$class.t_getTypeName() $class.getName() $class.t_getGeneralizationRealization(){
#if( $class.valueLiteralCount() > 0 )
	#set( $attributeIndex = 0 )
	#foreach($attribute in $class.valueLiteralIterator())
		#if ( $attributeIndex > 0 )
			,
		#end
		${baseIndentation}${indentation}#parse("$template-dir/IdlEnumValue.vm")
		#set( $attributeIndex = $attributeIndex + 1 )
	#end

#end
$baseIndentation};
#foreach( $package in $class.t_packageIterator() )
	};
#end