$parameter.t_prepare()##
## ===== Output =====
$parameter.t_getConst()##
$parameter.t_getTypeName()$parameter.t_getGeneric()$parameter.t_getTypePreModifier()##
$parameter.t_getParameterName()$parameter.t_getTypePostModifier()