$class.t_prepare()##
## ===== Output =====
#if( $defaultClassTypeNsobject )
	#import <Foundation/Foundation.h>
#end
#import <objc/Object.h>
#import "stdio.h"
#import "$class.getName()#**#.h"
$class.t_getImport()
$class.t_getDocumentation('')##
@implementation $class.getName()##
#if( $class.operationCount() > 0 )
	#foreach( $operation in $class.operationIterator() )
		#parse("$template-dir/objectivec/ObjectiveCOperation.vm")

	#end
#else
	
#end
@end

