$operation.getReference().prepare()##
## ===== Output =====
${indentation}$operation.getReference().getRefObject().t_getTypeNamePrefix()$operation.getReference().getAttributeName() = ##
#if( $operation.getReference().getRefObject().t_getTypeNamePrefix() == '@' )
	@{$_[1]}##
#else
	$_[1]##
#end
;

