$operation.getReference().prepare()##
## ===== Output =====
${baseIndentation}${indentation}${indentation}self.$operation.getReference().getAttributeName() = $operation.getReference().getParameterName()