$attribute.t_prepare()##
## ===== Output =====
$attribute.t_getDocumentation($indentation)##
${indentation}$attribute.t_getVisibility()$attribute.t_getScope()$attribute.t_getFinal()$attribute.t_getAttributeNamePrefix()$attribute.t_getAttributeName()$attribute.t_getInitialValue();