$operation.getReference().prepare()##
## ===== Output =====
#if ($operation.getReference().getRefObject().t_getScope() == "")
	#set( $attributeScope = "$this->" )
#else
	#set( $attributeScope = "self::$" )
#end
${indentation}${indentation}return $attributeScope$operation.getReference().getAttributeName();

