$attribute.t_prepare()##
## ===== Output =====
#if( $attribute.t_isClassifierScope() == true )
	${baseIndentation}${indentation}$attribute.t_getAttributeName()$attribute.t_getInitialValue()##
	$attribute.t_getDocumentation("${baseIndentation}${indentation}")##
#else
	${baseIndentation}${indentation}${indentation}self.$attribute.t_getAttributeName()$attribute.t_getInitialValue()##
	$attribute.t_getDocumentation("${baseIndentation}${indentation}${indentation}")##
#end
