$operation.getReference().prepare()##
## ===== Output =====
#set( $tmpAppend = '.append(' )
${baseIndentation}${indentation}${indentation}self.$operation.getReference().getAttributeName()${tmpAppend}$operation.getReference().getParameterName())